@import "base";
@import "layout";
@import "modules/logo";
@import "modules/video";
@import "modules/screen";
@import "modules/event-1";
@import "modules/event-2";
@import "modules/event-3";
@import "modules/language";
@import "modules/qrcode";
@import "modules/events-button";
@import "modules/bubble";

@font-face {
  font-family: "Suisse Intl";
  src: url("../fonts/SuisseIntl-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Self Modern";
  src: url("../fonts/SelfModern-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
